.item-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.item-container__item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1rem;
  width: 100%;
}

.item-container__item__starred{
    display: flex;
}
